<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iupc.Mapper.NewsMapper">
    <select id="qurryAllNews" resultType="News" >
        select * from news
    </select>
        <select id="qurryAllNewsShow" resultType="News" parameterType="String" >
            select * from news
            where news_show=#{show}
        </select>
    <select id="qurryNewsByContent" resultType="News" parameterType="String">
        select * from news
        where news_content like concat('%',#{value},'%')
        or news_title like concat('%',#{value},'%')
    </select>
    <select id="qurryNewsById" resultType="News" parameterType="String">
        select * from news
        where news_id=#{value}
    </select>
    <insert id="insertNews" parameterType="News">
     insert into news
     (news_id,news_content,news_author,news_time,news_img,news_good,news_title,news_stoptime,news_begintime,news_updateway,news_price)
      values
      (#{news_id}, #{news_content}, #{news_author}, #{news_time}, #{news_img}, #{news_good}, #{news_title}, #{news_stoptime}, #{news_begintime}, #{news_updateway}, #{news_price})
</insert>
    <insert id="insertNewsPic" parameterType="NewsPic">

    insert into news_pic
    (news_pic,news_id)
    value(#{news_pic},#{news_id})
    </insert>
<select id="getNewsNumber" resultType="int" >
            select count(*) from news
</select>
<select id="qurryPicbyId" resultType="String" >
   select news_pic from news_pic
   where news_id=#{news_id}
</select>


    <insert id="insertGoods" parameterType="Goods">
     insert into goods
     (   Goods_id,
         Goods_name,
          Goods_price,
         Goods_time,
         Goods_category,
         Goods_link,
         Goods_modality,
         Goods_shopid,
         Goods_picture,
         Goods_content,
         Goods_sum,
         Goods_place)
      values
      ( #{Goods_id},
                #{Goods_name},
                #{Goods_price},
                #{Goods_time},
                #{Goods_category},
                #{Goods_link},
                #{Goods_modality},
                #{Goods_shopid},
                #{Goods_picture},
                #{Goods_content},
                #{Goods_sum},
                #{Goods_place})
</insert>
    <insert id="insertGoodsPic" parameterType="GoodsPic">

    insert into goods_pic
    (goods_pic,goods_id)
    value(#{goods_pic},#{goods_id})
    </insert>
<select id="getGoodsNumber" resultType="int" >
            select count(*) from goods
</select>
<select id="qurryGoodsPicbyId" resultType="String" >
   select goods_pic from goods_pic
   where goods_id=#{goods_id}
</select>
<select id="insertGoodsNum" parameterType="Goods_num" >
    insert into good_num
    (good_id,good_color,good_size,good_num,good_price)
    value(#{good_id},#{good_color},#{good_size},#{good_num},#{good_price})
</select>

<select id="qurryGoodsSizeById" resultType="String">
select good_size from good_num
where good_id=#{id}
</select>

<select id="qurryGoodsById" resultType="Goods">
select * from goods
where Goods_id=#{id}
</select>

<select id="qurryGoodsColorByIdSzie" resultType="String">
select good_color from good_num
where good_id=#{id} and good_size=#{size}
</select>

<select id="qurryGoodsByIdSzieColor" resultType="Goods_num">
select * from good_num
where good_id=#{id} and good_size=#{size} and good_color=#{color}
</select>

<update id="updataNews" parameterType="News">
update news set
news_show=#{news_show}
where news_id=#{news_id}
</update>
<select id="qurryGoodsBy" resultType="Goods">
select * from goods
where Goods_content like concat('%',#{value},'%')
or  Goods_name like concat('%',#{value},'%')
or  Goods_news_author like concat('%',#{value},'%')
</select>

</mapper>