<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iupc.Mapper.NewsMapper">
    <select id="qurryAllNews" resultType="News" >
        select * from news
    </select>
    <select id="qurryNewsByContent" resultType="News" parameterType="String">
        select * from news
        where news_content like concat('%',#{value},'%')
        or news_title like concat('%',#{value},'%')
    </select>
    <select id="qurryNewsById" resultType="News" parameterType="String">
        select * from news
        where news_id=#{value}
    </select>
    <insert id="insertNews" parameterType="News">
     insert into news
     (news_id,news_content,news_author,news_time,news_img,news_good,news_title,news_stoptime,news_begintime,news_updateway,news_price)
      values
      (#{news_id}, #{news_content}, #{news_author}, #{news_time}, #{news_img}, #{news_good}, #{news_title}, #{news_stoptime}, #{news_begintime}, #{news_updateway}, #{news_price})
</insert>
    <insert id="insertNewsPic" parameterType="NewsPic">

    insert into news_pic
    (news_pic,news_id)
    value(#{news_pic},#{news_id})
    </insert>
<select id="getNewsNumber" resultType="int" >
            select MAX(news_id) from news
</select>
<select id="qurryPicbyId" resultType="String" >
   select news_pic from news_pic
   where news_id=#{news_id}
</select>


    <insert id="insertGoods" parameterType="Goods">
     insert into goods
     (   Goods_id,
         Goods_name,
          Goods_price,
         Goods_time,
         Goods_category,
         Goods_link,
         Goods_modality,
         Goods_shopid,
         Goods_picture,
         Goods_content,
         Goods_sum,
         Goods_place)
      values
      ( #{Goods_id},
                #{Goods_name},
                #{Goods_price},
                #{Goods_time},
                #{Goods_category},
                #{Goods_link},
                #{Goods_modality},
                #{Goods_shopid},
                #{Goods_picture},
                #{Goods_content},
                #{Goods_sum},
                #{Goods_place})
</insert>
    <insert id="insertGoodsPic" parameterType="GoodsPic">
    insert into goods_pic
    (goods_pic,goods_id)
    value(#{goods_pic},#{goods_id})
    </insert>
<select id="getGoodsNumber" resultType="int" >
            select MAX(Goods_id) from goods
</select>
<select id="qurryGoodsPicbyId" resultType="String" >
   select goods_pic from goods_pic
   where goods_id=#{goods_id}
</select>
<select id="insertGoodsNum" parameterType="Goods_num" >
    insert into good_num
    (good_id,good_color,good_size,good_num,good_price)
    value(#{good_id},#{good_color},#{good_size},#{good_num},#{good_price})
</select>

<select id="qurryGoodsSizeById" resultType="String">
select good_size from good_num
where good_id=#{id}
</select>

<select id="qurryGoodsById" resultType="Goods">
select * from goods
where Goods_id=#{id}
</select>

<select id="qurryGoodsColorByIdSzie" resultType="String">
select good_color from good_num
where good_id=#{id} and good_size=#{size}
</select>

<select id="qurryGoodsByIdSzieColor" resultType="Goods_num">
select * from good_num
where good_id=#{id} and good_size=#{size} and good_color=#{color}
</select>
        <select id="qurryAllNewsByShow" resultType="News" parameterType="String" >
            select * from news
            where news_show=#{show}
        </select>
        <update id="updataNewsByShow" parameterType="String">
        update news set
        news_show=#{show}
        where news_id=#{id}
        </update>
        <select id="qurryAllGoodsByShow" resultType="Goods" parameterType="String" >
            select * from goods
            where Goods_show=#{show}
        </select>
        <update id="updataGoodsByShow" parameterType="String">
        update goods set
          Goods_show=#{show}
             where Goods_id=#{id}
         </update>


<select id="qurryGoodsBy" resultType="Goods" parameterType="String">
select * from goods
where Goods_content like concat('%',#{value},'%')
or  Goods_name like concat('%',#{value},'%')
or  Goods_category like concat('%',#{value},'%')
</select>
<select id="qurryAllGoods" resultType="Goods" parameterType="String">
select * from goods
</select>
    <delete id="deletNewsByid" parameterType="String">
        delete from news
        where news_id=#{id};
        delete from news_pic
        where news_id=#{id};
    </delete>
<delete id="deletGoodsByid" parameterType="String">
    delete from goods
    where Goods_id=#{id};
    delete from goods_pic
    where goods_id=#{id};
    delete from good_num
    where good_id=#{id};

</delete>

<select id="qurryAllNewsByFavor" resultType="News" parameterType="String">
SELECT news.*
FROM news, favorite_content
WHERE news.news_id = favorite_content.fcid and favorite_content.ftype=#{v}and favorite_content.username=#{username}
</select>
<select id="qurryAllGoodsByFavor" resultType="Goods" parameterType="String">
SELECT goods.*
FROM goods, favorite_content
WHERE goods.Goods_id = favorite_content.fcid and favorite_content.ftype=#{v}and favorite_content.username=#{username}
</select>

</mapper>