<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iupc.Mapper.NotesMapper">

    <select id="qurryAllNotes" resultType="Notes">
        select * from notes
    </select>
    <select id="qurryNotesBysearch" resultType="Notes" parameterType="String">
        select * from notes
        where note_content like concat('%',#{value},'%')
        or note_title like concat('%',#{value},'%')
    </select>
    <select id="getNotesNumber" resultType="int">
        select MAX(note_id) from notes
    </select>
<insert id="insertNotes" parameterType="Notes">

     insert into notes
    (note_id,note_author,note_time,note_title,note_content,note_img)
    value(#{note_id},#{note_author},#{note_time},#{note_title},#{note_content},#{note_img})
</insert>

    <select id="qurryPicbyId" resultType="String" >
   select notes_pic from notes_pic
   where notes_id=#{notes_id}

</select>
<select id="qurryNoteById" resultType="Notes" parameterType="String">
    select *from notes where note_id=#{id}
</select>

    <select id="qurryNotePicbyId" resultType="String" parameterType="String">
        select note_pic
        from notes_pic
        where note_id=#{id}
    </select>
    <insert id="insertNotesPic" parameterType="NotesPic">
    insert into notes_pic
    (note_pic,Note_id)
    value(#{note_pic},#{note_id})
    </insert>
    <delete id="deletNotesByid" parameterType="String">
        delete from notes
        where note_id=#{id};
        delete from notes_pic
        where note_id=#{id};
    </delete>
    <select id="qurryAllNotesByShow" resultType="Notes" parameterType="String" >
            select * from notes
            where note_show=#{show}
        </select>
    <update id="updataNotesByShow" parameterType="String">
        update notes set
          note_show=#{show}
             where note_id=#{id}
    </update>

    <select id="qurryAllNotesByFavor" resultType="Notes" parameterType="String">
SELECT notes.*
FROM notes, favorite_content
WHERE notes.note_id = favorite_content.fcid and favorite_content.ftype=#{v}and favorite_content.username=#{username}
</select>
<insert id="insertNewsNote" parameterType="NewsNotes">
    insert into news_note (news_id,note_id) values (#{news_id},{note_id});
</insert>
    <select id="qurryNewsByNote" parameterType="String" resultType="News">
        select news.*
        from news,news_note
        where news.news_id=news_note.news_id and news_note.note_id=#{note_id}
    </select>
    <select id="qurryNotesByNews" parameterType="String" resultType="Notes">
        select notes.*
        from notes,news_note
        where notes.note_id=news_note.note_id and news_note.news_id=#{news_id}
    </select>


</mapper>