<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iupc.Mapper.UsersMapper">

    <select id="getUserByName" resultType="Users" parameterType="String">
        select * from users
        where binary username=#{username}
    </select>
    <select id="getShopByName" resultType="Shop" parameterType="String">
        select * from shop
        where binary username=#{username}
    </select>
    <insert id="insertUsers" parameterType="Users">
     insert into users
     (username,password,showname,portrait,role,realname,email)
      values
      (#{username},#{password},#{showname},#{portrait},#{role},#{realname},#{email})
</insert>

    <insert id="insertFover" parameterType="FavoriteContent">
     insert into favorite_content
     (username,fcid,ftype,time)
      values
      (#{username},#{fcid},#{ftype},#{time})
</insert>
    <select id="getIdtoSet" resultType="int">
        select Max(dcid) from discuss_content
    </select>

    <insert id="insertDiscuss" parameterType="DiscussContent">
     insert into discuss_content
     (dcid,pubuser_id,answerto,pubtime,shop_id,content)
      values
      (#{dcid},#{pubuser_id},#{answerto},#{pubtime},#{shop_id},#{content})
</insert>
    <select id="getDiscussBytoid" resultType="DiscussContent" parameterType="String">
        select * from discuss_content
        where answerto=#{answerto}
    </select>
    <select id="qurryShopById" resultType="Shop" parameterType="String">
        select * from shop
        where shop_id=#{id}
    </select>
    <insert id="insertShop" parameterType="DiscussContent">
     insert into shop
     (username,shop_name,shop_introduce,shop_pic,shop_id,shop_atime)
      values
      (#{username},#{shop_name},#{shop_introduce},#{shop_pic},#{shop_id},#{shop_atime})
</insert>
    <select id="getMaxShopid" resultType="int">
        select Max(shop_id) from shop
    </select>

    <insert id="insertRecord" parameterType="Record">
     insert into record
     (username,record_keys,times) values(#{username},#{record_keys},#{times})
</insert>
    <select id="qurryRecordBynk" parameterType="String" resultType="Record">
        select * from record
        where username=#{username}and record_keys=#{keys}
    </select>
    <update id="updateTimes" parameterType="Record">
        update record set
        times=#{times}+1
        where  username=#{username} and record_keys=#{record_keys}
    </update>
    <select id="qurryRecordByusername" parameterType="String" resultType="String">
        select record_keys from record
        where username=#{username}
        order by times desc
    </select>
    <update id="updateUserRole" parameterType="Users">
        update users set
        role="1"
        where  username=#{username}
    </update>


</mapper>