body{
    background:url("../image/bg_blue.png") ;
    background-size: cover;
    background-size:300px 300px;
    overflow: auto;
}
.touristcont_lp{
    letter-spacing: 5px;
    border-style: dotted;
    height:30px;
    font-size: 15px;
    margin: 1px;
    padding-left: 20px;
    color: white;
}
.touristlib{
    background:#b8cce2 ;
    color:white;
    position: relative;
    float:right;
    border-style: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 20px;
}
.tourist_lp{
    width: 100%;
    height: 50px;
    font-size: 18px;
    position: relative;
    border-radius: 10px;
    color: #ffffff;
}
#tourist{
    width: 13%;
    position: fixed;
    top:10%;
    height:70%;
    left:0;
    list-style: none;
    margin-left: 0;
}
.tourist_li{
    width: 100%;
    height: 50px;
    font-size: 18px;
    background: #b8cce2;
    position: relative;
    margin-top:10px;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
}
.tourist_content{
    width: 95%;
    position: relative;
    background: #b8cce2 ;
    overflow: hidden;
}
.tourist_lp{
    position: absolute;
    left:20%;
    letter-spacing: 5px;
}
.sidepicbox{
    height:100%;
    width:12%;
    position: absolute;
    overflow: auto;
    top:10%;
}
.sideboxp{
    height:38%;
    width:100%;
    position: relative;
    left: 0;
    margin-bottom: 6px;
    border: #0f0f0f;
    border-width: 2px;
}
#side_box1{
    left:14%;
}
#side_box2{
    left:78%;
}
#ads{
    width: 100%;
    height:43%;
    position:absolute;
    top:10%;
    background: rgb(200,240,240,0.2);
}
#pic_box{
    position: absolute;
    top:7%;
    left:27%;
    width: 50%;
    down:90%;
    border: #ffefed;
    border-width: 5px;
    border-style: solid;
    text-align: center;
}
.box_pic{
    position: absolute;
    height:0px;
    width: 0%;
    top:0;
    text-align: left;
}
ul li{
    margin: 0;
    padding: 0;
}
.zx_box_title{
    text-align: center;
    font-size:30px;
    font-weight: bolder;
    font-family: 华文细黑;
}
#zx_box_1{
    position:absolute;
    left:0%;
    top:60%;
    width: 50%;
    background: #E3EFF9;
}
#zx_box_2{
    position:absolute;
    left:50%;
    top:60%;
    width: 50%;
    background: #E3EFF9;
}
.zxi{
    position: relative;
    margin:20px;
    width:90%;
    background: #F8EDDB;
    color: #6e6d71;
    border-radius: 20px;
}
.zxi_pic{
    width:150px;
    height:150px;
    border-radius: 75px;
}
.zxi_pic:hover{
    border-radius: 20px;
}
.zxi_text{
    position:absolute;
    left:160px;
    top:5%;
    height: 100%;
    width:80%;
}
.zxi_content{
    font-size: 12px;
    position: absolute;
    width:85%;
    top:25%;
}
.zxi:hover{
    transform: scale(1.05);
}
.zxi_title{
    position:absolute;
    font-size:18px;
    font-weight: bold;
    top:1%;
    width: 90%;
    overflow: auto;
}
.zxi_title:hover{
    color: #f39489;
}
#zx_box{
    position:absolute;
    left:14%;
    top:60%;
    width: 76%;
    background: #E3EFF9;
    border-radius: 30px;
}
.zxi_time{
    position:absolute;
    bottom: 5%;
    font-size:14px;
}
#search_list{
    width: 700px;
    padding: 5px;
    list-style: none;
    border-radius: 10px;
    border: #0f0f0f;
    background: #FFF7ED;
    border-style: wave;
    z-index: 1;
}
.search-hli{
    width:650px;
    min-height:30px;
    background: white;
    border: #0bffd8;
    border-radius: 10px;
    font-size: 20px;
    margin-top:5px;
    padding-left:20px;
    padding-right: 5px;
    font-family: 腾祥匆匆体简;
    z-index: 1;
    line-height: 35px;
}
.hsearch_button{
    display: inline-block;
    left:660px;
    margin: 0;
    height:30px;
    width: 30px;
    font-size:20px;
    position: absolute;
    right:20px;
    background: none;
    border:none;
    z-index: 1;
}
.header{
    position: fixed;
    width:100%;
    height:10%;
    background: #b8cce2;
    z-index: 1;
}
#header_search{
    position: absolute;
    left:30%;
    top:10px;
    width:300px;
    height:100px;
}
#header_message{
    position: absolute;
    width: 150px;
    height: 70px;
    top:5px;
    font-size: 18px;
}
#header_setting{
    position: absolute;
    width: 150px;
    height: 70px;
    left:90%;
    top:5px;
}
#header_txbox{
    position: absolute;
    width: 150px;
    height: 70px;
    left:94%;
    top:5px;
}
#header_tx{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background: #91b8ff;
}
#header_title{
    position:absolute;
    font-family: 腾祥匆匆体简;
    color: white;
    left:10%;
    top:15px;
    margin: 15px;
    font-size:40px;
}
#header_biaoti{
    position: absolute;
    width: 150px;
    height: 70px;
    left:8%;
}