:root{
    --bgimg:url("../image/background/15.JPG");
    --bgimgwidth:1748px;
    --bgimgheight:847px;
}
#zixun_box{
    position: absolute;
    left:17%;
    top:11%;
    width: 80%;
    height: 230%;
    background: var(--bgimg);
    border-radius: 30px;
    margin-bottom: 100px;
}
a{
    color:black;
}
.unacrs{
    font-size: 18px;
    color:black;
    width: 60px;
}
.acrs{
    font-size: 18px;
    color: #ffaaa5;
}
.srtourist{
    font-size: 20px;
    height:30px;
    left:50px;
    position: absolute;
    font-weight:bold;
}
.body{
    /*background-image:url("../image/background/aa1.jpg");*/
    /*background-image:var(--bgimg);*/
    background-size:cover;
    background-attachment: fixed;
}
.bgbody{
    background-image:var(--bgimg);
    background-size:cover;
    background-attachment: fixed;
}
.mainframe_title{
    text-align: center;
}
.mainframe{
    color:black;
    font-size: 30px;
    top:11%;
    left: 14%;
    position: absolute;
    width: 85%;
    min-width:1200px;
    height:87%;
    padding-bottom: 80px;
    /*background: rgba(222,246,255,0.8);*/
    background-image: var(--bgimg);
    background-size:cover;
    display: table;
    border-style: outset;
    clear: both;
}
.bgspic{
    /*margin-left: px;*/
    border-left: 3px solid #E3EFF9;
    border-right: 3px solid #E3EFF9;
    margin-bottom: 2px;
    width: 300px;
    height: 170px;
}
.bgs{
    height:450px;
    width:310px;
    position: absolute;
    top:100%;
    right:10px;
    overflow: auto;
}
.news_sh{
    position: relative;
    display: inline-block;
    margin:20px;
    width:47%;
    display: inline-block;
    background: #F8EDDB;
    color: #6e6d71;
}

.touristcont_lp{
    letter-spacing: 5px;
    border-style: outset;
    border-width: 1px;
    height:30px;
    font-size: 15px;
    background: rgba(211,209,231,0.7);
    margin:3px;
    padding-left: 20px;
}
.touristcont_lp:hover{
    transform: scale(1.1);
    background: rgba(211,209,231,1);
    color:white;
    font-size: 18px;
}
.tourist_part{
    border: solid #d4d6de 2px;
    border-radius: 3px;
    background-size:50% 100%;
}
.touristlib{
    position: relative;
    float:right;
    border-style: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 20px;
}
.tourist_lp{
    width: 100%;
    height: 50px;
    font-size: 18px;
    position: relative;
    border-radius: 10px;
    border: #727177;
}
#tourist{
    width: 12%;
    position: fixed;
    top:10.5%;
    height:88%;
    border: solid #e8e2ff;
    left:0;
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    background-image:var(--bgimg) ;
    background-position: 0% 10.5% ;
}
.tourist_li{
    width: 100%;
    height: 50px;
    left: 0;
    font-size: 20px;
    /*background: #b8cce2;*/
    position: relative;
    padding:20px 10px 20px 0;
    margin-bottom: 5px;
    color: rgba(0,0,0,0.9);
    background: rgba(255,255,255,0.5);
    font-weight: 500;

}
.tourist_content{
    width: 100%;
    border-style: inset;
    position: relative;

    overflow: hidden;
}
.tourist_lp{
    position: absolute;
    left:20%;
    letter-spacing: 5px;
}
.sidepicbox{
    height:120%;
    width:12%;
    position: absolute;
    overflow: auto;
    top:10%;
}
.sideboxp{
    height:28%;
    width:100%;
    position: relative;
    left: 0;
    margin-bottom: 6px;
    border: #0f0f0f;
    border-width: 2px;
}
#side_box1{
    left:14%;
}
#side_box2{
    left:78%;
}
#ads{
    width: 100%;
    height:43%;
    position:absolute;
    top:10%;
    left:2%;
}
#pic_box{
    position: absolute;
    top:7%;
    left:27%;
    width: 50%;
    down:90%;
    border: #ffefed;
    border-width: 5px;
    border-style: solid;
    text-align: center;
}
.box_pic{
    position: absolute;
    height:0px;
    width: 0%;
    top:0;
    text-align: left;
}
ul li{
    margin: 0;
    padding: 0;
}
.zx_box_title{
    text-align: center;
    font-size:30px;
    font-weight: bolder;
    height:65px;
    font-family: 华文细黑;
    position: relative;
    margin:0;
    background: rgba(255,255,255,0.5);
}
#zx_box_1{

    position:absolute;
    top:70px;
    width: 100%;
    height:100%;
    background: rgba(255,255,255,0.6);
}
.zxi_pic_fly{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}
.zxi{
    position: relative;
    margin:5px 20px 5px 30px;
    display: inline-block;
    width:45%;
    background: rgba(255,235,235,0.8);
    color:black;
    border-style: inset;
}
.zxi_pic{
    width:150px;
    height:150px;
    border-radius: 75px;
}
.zxi_pic:hover{
    border-radius: 20px;
}
.zxi_text{
    position:absolute;
    left:160px;
    top:5%;
    height: 100%;
    width:80%;
}
.zxi_content{
    font-size: 14px;
    position: absolute;
    width:85%;
    top:21%;
}
.zxi:hover{
    transform: scale(1.05);
}
.zxi_title{
    position:absolute;
    font-size:19px;
    font-weight: bold;
    top:1%;

    width: 90%;
    overflow: auto;
}
.zxi_title:hover{
    color: #f39489;
}
#zx_box{
    position:absolute;
    left:14%;
    min-height:100%;
    top:70%;
    background-position:7% 70% ;
    background-image: var(--bgimg);
    background-size: var(--bgimgwidth) var(--bgimgheight);
    width:82%;
    clear:both;
    overflow: hidden;
    margin: 10px 0 40px 0;
}
.zxi_time{
    position:absolute;
    bottom: 5%;
    font-size:14px;
}
.zxi_zt{
    position:absolute;
    left:85%;
    width: 300px;
    bottom:10%;
    color:black;
    font-size:14px;
   font-size: 23px;
}
#search_list{
    width: 700px;
    padding: 5px;
    list-style: none;
    border-radius: 10px;
    border: #0f0f0f;
    background: #FFF7ED;
    border-style: wave;
    z-index: 1;
}
.search-hli{
    width:650px;
    min-height:30px;
    background: white;
    border: #0bffd8;
    border-radius: 10px;
    font-size: 20px;
    margin-top:5px;
    padding-left:20px;
    padding-right: 5px;
    font-family: 腾祥匆匆体简;
    z-index: 1;
    line-height: 35px;
}
.shrs{
    position: absolute;
    top:15%;
    width: 100%;
}
.hsearch_button{
    display: inline-block;
    left:660px;
    margin: 0;
    height:30px;
    width: 30px;
    font-size:20px;
    position: absolute;
    right:20px;
    background: none;
    border:none;
    z-index: 1;
}
.header{
    position: fixed;
    width:100%;
    height:10%;
    top:0;
    background-image:var(--bgimg) ;
    background-size:var(--bgimgwidth) var(--bgimgheight) ;
    background-position: 0 0 ;
    z-index: 1;
}
#header_search{
    position: absolute;
    left:30%;
    top:10px;
    font-weight: bold;
    width:300px;
    height:100px;
    opacity:1;
}
#header_message{
    position: absolute;
    width: 150px;
    height: 70px;
    top:5px;
    font-size: 18px;
}
#header_setting{
    position: absolute;
    width: 150px;
    height: 70px;
    left:90%;
    top:5px;
}
#header_txbox{
    position: absolute;
    width: 150px;
    height: 70px;
    left:94%;
    top:0;
}
#header_tx{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: #91b8ff;
}
#header_title{
    position:absolute;
    font-family: 腾祥匆匆体简;
    color: white;
    left:10%;
    top:15px;
    margin: 15px;
    font-size:40px;
}
#header_biaoti{
    position: absolute;
    width: 150px;
    height: 70px;
    left:8%;
}