.div_foot {
    position:fixed; bottom:10px; left:40%;
    text-align: center;
    line-height: 50px;
    width: 20%;
}
.adr{
    position:fixed; bottom:10px; left:20%;
}

.login_out{

    position: absolute;
    width:50%;
    height:40%;
    top:30%;
    left: 20%;
    z-index: 0;
}
.background{
    background:url("../image/1.jpg") ;
    background-attachment:fixed;
    background-size: cover;
    overflow: auto;
}
