<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小学期网站</title>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/iupc.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/semantic.css}" rel="stylesheet">
    <link th:href="@{css/sunhuadi.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{js/npm.js}" ></script>
    <script type="text/javascript" th:src="@{js/vue.js}" ></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/semantic.js}" ></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div th:insert="~{index::header}"></div>
<div class="adminmenu">
    <div class="admenuli"><a style="color:black" href="/admin_news">资讯审核</a></div>
    <div class="admenuli"><a style="color:black" href="/admin_notes">笔记审核</a></div>
</div>
<div id="adminbox">
    <table class="admin_table">

        <td class="zixun_td2">序号</td>
        <td class="zixun_td2">店家</td>
        <td class="zixun_td2">审核内容</td>
        <td class="zixun_td2">申请时间</td>
        <td class="zixun_td2">类型</td>
        <td class="zixun_td2">通过</td>
        <td class="zixun_td2">驳回</td>

        <datapiece v-for="(item,index) in note"
                   :number="index+1"
                   :myclassname="index%2==0?'zixun_tr':''"
                   :did="item.note_id"
                   :dtype="'note'"
                   :dauthor="item.note_author"
                   :dtime="item.note_time"
        >
        </datapiece>


    </table>
</div>

</body>
<script src="js/xmagic.js" ></script>
<script>

    var administrator=new Vue({
        el:"#adminbox",
        data:{
           note:{

            }

        },mounted(){
            that=this
            axios.post('/getallnewsshow1',{variable:1,admin:0})
                .then(function (response) {//是返回的所有信息
                    console.log(response);
                    console.log(response.data)
                    that.note=response.data[0]
                    //response.length
                })
                .catch(function (error) {
                    console.log(error);


                });
        },methods: {
            pass:function () {
                axios.post('/admin1', {
                    admin:"1",
                }).then(function (response) {
                    console.log(response);
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            reject:function () {
                axios.post('/admin1', {
                    admin:"2",
                }).then(function (response) {
                    console.log(response);
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })
</script>
<style>


        /*border-collapse:separate;*/
        /*border-spacing:0px 40px;*/


</style>
</html>