<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/iupc.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/semantic.css}" rel="stylesheet">
    <link th:href="@{css/sunhuadi.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{js/npm.js}" ></script>
    <script type="text/javascript" th:src="@{js/vue.js}" ></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/semantic.js}" ></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body class="body">`
<div th:insert="~{index::header}"></div>
<div th:insert="~{index::tourist}"></div>
<div class="mainframe">
    <h1 class="mainframe_title"> 搜索结果 </h1>
    <div class="shrs" id="search_note">
        <note
                v-for="item in search_note_data"
                myclassname="zxi"
                :note_title="item.note_title"
                :note_id=item.note_id
                :note_img="item.note_img"
                :note_time="item.note_time"
                :note_content="item.note_content">
        </note>
    </div>
</div>
</body>
<style>

</style>
<script src="js/xmagic.js" ></script>
<script >
    var search_kw=;
    var searchnotevue=new Vue({
        el:"#search_note",
        data:{
            search_note_data:[]
        }
    })

    console.log(search_kw);
    axios.post('/search', {value:"lolita",variable: "1"})
        .then(function (response) {
            searchnotevue.search_note_data=null
            searchnotevue.search_note_data=response.data[0];
            console.log(searchnotevue.search_note_data)
        }).catch(
        function (error) {
            console.log(error);
        });
</script>

</html>