<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小学期网站</title>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/iupc.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/semantic.css}" rel="stylesheet">
    <link th:href="@{css/sunhuadi.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{js/npm.js}" ></script>
    <script type="text/javascript" th:src="@{js/pic_box.js}" ></script>
    <script type="text/javascript" th:src="@{js/vue.js}" ></script>
    <!--<script src="code.jquery.com/jquery-3.4.1.min.js"> </script>-->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/semantic.js}" ></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="header" th:fragment="header">
    <div id="header_message">
        <div class="column">
            <img src="/image/hdj.png"  style="height: 60px;height:60px;" class="img-rounded">
            <span>消 息</span>
        </div>
    </div>
    <div id="header_title">三 坑 圈</div>

    <div id="header_search" class="ui search">
        <div style="height: 60px;width: 400px;" class="ui icon input">
            <input class="prompt" type="text" placeholder="" v-model="svalue" @keyup-enter="saveit" >
            <button style="height:50px;width:80px;margin-top:6px; display: inline-block" class="ui button" @click="saveit">搜索</button>
        </div>
        <div class="results"></div>
        <ul v-if="history_search.length>0" id="search_list">
            <li v-for="(item,index) in history_search" class="search-hli">
                {{ item }}
                <button class="hsearch_button" @click="deleteit(index)" >×</button>
            </li>
        </ul>
    </div>
    <div id="header_setting">
        <img style="height:60px;width:60px;" src="image/setting.png" />
    </div>

    <div id="header_txbox">
        <img src="image/tx.ico" id="header_tx">
        <div style="top:25px;left:85px;position: absolute;"></div>
    </div>
</div>
<div id="ads">
    <div class="sidepicbox" id="side_box1">
        <img class="sideboxp" src="image/0.jpg" />
        <img class="sideboxp" src="image/jk1.jpg" />
        <img class="sideboxp" src="image/jk2.jpg" />
        <img class="sideboxp" src="image/jk2.jpg" />
        <img class="sideboxp" src="image/jk2.jpg" />
        <img class="sideboxp" src="image/2.jpg" />
        <img class="sideboxp" src="image/1.jpg" />
    </div>
    <div id="pic_box">
        <div class="picbox">
            <img src="image/dangmei1.jpg" id="pic1" class="box_pic">
            <img src="image/dangmei2.jpg" id="pic2" class="box_pic">
            <img src="image/dangmei3.jpg" id="pic3" class="box_pic">
        </div>
    </div>
    <div class="sidepicbox" id="side_box2">
        <img class="sideboxp" src="image/0.jpg" />
        <img class="sideboxp" src="image/jk1.jpg" />
        <img class="sideboxp" src="image/jk2.jpg" />
        <img class="sideboxp" src="image/jk2.jpg" />
        <img class="sideboxp" src="image/jk2.jpg" />
        <img class="sideboxp" src="image/2.jpg" />
        <img class="sideboxp" src="image/1.jpg" />
    </div>
</div>
<div id="tourist">
    <div v-for="(item,index) in tli">
        <div   class="tourist_li" >
            <p class="tourist_lp">{{ item.content }}</p>
            <button class="touristlib" @click="showit(index)" >{{ item.isshow?'→':'↓' }}</button>
        </div>
        <div v-if="item.isshow"  :id="item.isshow?'showtlic':''" class="tourist_content">
            <div class="touristcont_lp" v-for="it in item.slcontent">{{ it }}</div>
        </div>
    </div>
</div>
<div id="zx_box">
    <p class="zx_box_title">热门资讯</p>
    <hr style="color:black;" />
    <div v-for="item in zxall" class="zxi">
        <img class="zxi_pic"  :src="item.news_img" />
        <div class="zxi_text">
            <p class="zxi_title" >{{ item.news_title }}</p>
            <p class="zxi_content">{{ item.news_content }}</p>
            <p class="zxi_time" >{{item.news_formattime }}</p>
        </div>
    </div>
</div>
<script>

        var tch=0;
        var maxtch=0;
        var search_vue= new Vue(
            {
                el:"#header_search",
                data:{
                    svalue:"在这里输入搜索内容",
                    history_search:[],
                    hshow:true,
                },
                methods:{
                    saveit:function () {
                        this.history_search.unshift(this.svalue);
                        for(i=1;i<this.history_search.length;i++)
                        {
                            if(this.history_search[i]==this.svalue)
                            {
                                this.history_search.splice(i,1);
                                break;
                            }
                        }
                        console.log("aaa");
                        var _this=this
                        axios.post('/search', {
                            value:this.svalue,
                        }).then(function (response) {
                            zx_vue.zxall=null
                            zx_vue.zxall=response.data;
                            console.log(zx_vue.zxall)
                            console.log(response.data);
                            //console.log(response.data)
                        })
                            .catch(function (error) {
                                console.log(error);
                            });
                    },
                    deleteit(which)
                    {
                        this.history_search.splice(which,1);
                    }
                }
            }
        );
        var zx_vue=new Vue({
            el: "#zx_box",
            data: {
                zxall:[]

            },methods:{
                setData:function() {
                    var _this=this
                    axios.get('/getnews')
                        .then(function (response) {//是返回的所有信息
                            //console.log(response);
                            console.log(response.data)

                           // console.log(_this.zxall[0].content)
                            //response.length
                            _this.zxall=response.data;
                            console.log(_this.zxall)
                        })
                        .catch(function (error) {
                            console.log(error);

                        })
                }


            }
            ,mounted:function () {
                this.setData();
            }
        });



</script>
<script src="js/pic_box.js" ></script>
<script src="js/xmagic.js" ></script>
</body>
<style>

</style>
</html>
