<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小学期网站</title>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/iupc.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/semantic.css}" rel="stylesheet">
    <link th:href="@{css/sunhuadi.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{js/npm.js}" ></script>
    <script type="text/javascript" th:src="@{js/pic_box.js}" ></script>
    <script type="text/javascript" th:src="@{js/vue.js}" ></script>
    <!--<script src="code.jquery.com/jquery-3.4.1.min.js"> </script>-->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/semantic.js}" ></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="header" th:fragment="header" >
    <div id="header_message">
        <div class="column">
            <img src="/image/hdj.png" style="height: 60px;height:60px;" class="img-rounded">
            <span>消 息</span>
        </div>
    </div>
    <div id="header_biaoti">
        <img style="height:78px;width:300px;" src="image/三坑圈.png" />
    </div>
    <div id="header_search" class="ui search">
        <div style="height: 60px;width: 800px;" class="ui icon input">
            <input class="prompt" type="text" placeholder="" v-model="svalue" @Blur="unshowit" @focus="doshowit" @keyup.enter="saveit" >
            <button style="background-color: #FDEDED; height:50px;width:80px;margin-top:6px; display: inline-block" class="ui button" @click="saveit">搜索</button>
        </div>
        <div class="results" @click="hshow=false" ></div>
        <ul @mouseover="stopunshow=true" @mouseleave="stopunshow=false" v-show="hshow&history_search.length>0" id="search_list">
            <li v-for="(item,index) in history_search" @click.self="svalue=item;hshow=false" class="search-hli">
                {{ item }}
                <button class="hsearch_button" @click="deleteit(index)" >×</button>
            </li>
        </ul>
    </div>
    <div id="header_setting">
        <img style="height:60px;width:60px;" src="image/setting.png" />
    </div>
    <div id="header_txbox">
        <img src="image/tx.ico" id="header_tx">
        <div style="top:25px;left:85px;position: absolute;"></div>
    </div>
</div>
<div id="ads">
    <div class="sidepicbox" id="side_box1">
        <img v-for="item in sidelist1" class="sideboxp" :src="item" />
    </div>
    <div id="pic_box">
        <img :src="pic1" alt="" id="pic1" class="box_pic" />
        <img :src="pic2" alt="" id="pic2" class="box_pic" />
        <img :src="pic3" alt="" id="pic3" class="box_pic" />
    </div>
    <div class="sidepicbox" id="side_box2">
        <img v-for="item in sidelist2" class="sideboxp" :src="item" />
    </div>
</div>
<div id="tourist" th:fragment="tourist">
    <div v-for="(item,index) in tli">
        <div class="tourist_li" >
            <p class="tourist_lp">{{ item.content }}</p>
            <button class="touristlib" @click="showit(index)" >{{ item.isshow?'→':'↓' }}</button>
        </div>
        <div v-if="item.isshow" :id="item.isshow?'showtlic':''" class="tourist_content">
            <div class="touristcont_lp" v-for="it in item.slcontent">{{ it }}</div>
        </div>
    </div>
</div>
<div id="zx_box">
    <p class="zx_box_title">热门资讯</p>
    <hr style="color:black;" />
    <div id="zx_box_1">
        <div v-for="item in zxall" class="zxi">
            <img class="zxi_pic" :src="item.image" />
            <img class="zxi_pic_fly" src="image/透明蓝色蝴蝶结.gif">
            <div class="zxi_text">
                <p class="zxi_title" >{{ item.title }}</p>
                <p class="zxi_content">{{ item.content }}</p>
                <p class="zxi_time" >{{item.time }}</p>
            </div>
        </div>
<!--        <news  v-for="item in zxall" myclassname="zxi" news_title="item.title" news_id="3" news_img="item.image" news_time="item.time" news_content="item.content">-->
<!--        </news>-->
    </div>
    <div id="zx_box_2">
        <div v-for="item in zxall_1" class="zxi">
            <img class="zxi_pic" :src="item.image" />
            <img class="zxi_pic_fly" src="image/透明蓝色蝴蝶结.gif">
            <div class="zxi_text">
                <p class="zxi_title" >{{ item.title }}</p>
                <p class="zxi_content">{{ item.content }}</p>
                <p class="zxi_time" >{{item.time }}</p>
            </div>
        </div>
    </div>
</div>
<script>
    var picboxvue=new Vue({
        el:"#ads",
        data:{
            sidelist1:["image/0.jpg","image/1.jpg","image/2.jpg"],
            sidelist2:["image/0.jpg","image/0.jpg","image/0.jpg"],
            pic1:"image/0.jpg",
            pic2:"image/0.jpg",
            pic3:"image/0.jpg"
        }
    })
</script>
<script src="js/pic_box.js" ></script>
<script src="js/xmagic.js" ></script>
<script src="js/indexvue.js" ></script>
</body>
<style>

</style>
</html>
