
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/semantic.css}" rel="stylesheet">
    <link th:href="@{css/sunhuadi.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{js/npm.js}" ></script>
    <script type="text/javascript" th:src="@{js/pic_box.js}" ></script>
    <script type="text/javascript" th:src="@{js/vue.js}" ></script>
    <!--<script src="code.jquery.com/jquery-3.4.1.min.js"> </script>-->
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/semantic.js}" ></script>

    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="main" class="mainframe">
        <table>
            <tr v-for="(item,index) in inputs">
                <td>型号</td>
                <td><input v-model="inputs[index].key"  /></td>
                <td>数量</td>
                <td><input v-model="inputs[index].value" /></td>
                <td>价格</td>
                <td><input v-model="inputs[index].value" /></td>
                <td><button @click="deleteone(index)">删除本行</button></td>
            </tr>
        </table>
        <button @click="insertone"> +1</button>
        <button @click="deleteall"> clear</button>
    </div>
</body>
<script>
    var myvue=new Vue({
        el:"#main",
        data:{
            inputs:[],
        },
        methods:{
            insertone()
            {
                this.inputs.push({key:"",value:"",price:""})
            },
            deleteall(){
                this.inputs.splice(0,this.inputs.length)
            },
            deleteone(which)
            {
                this.inputs.splice(which,1);
            }
        },
        computed:{

        }
    })
</script>
</html>